@import 'variables';

html, body {
  height: 100%;
}

.button {
  height: 200px;
  &.button--state--success {
    background: $success-color;
  }
  &.button--state--danger {
    background: $danger-color;
  }
}